form div, form, button{
    margin: 10px;
}

label, input {
    display: block;
}
  
label {
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12pt;
}
  
input {
    font-size: 16pt;
    margin-bottom: 15px;
    padding: 10px;
    width: 400px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid .3px;
}

input[type=number]{
    width: 100px;
}

input[type=checkbox] {
    transform: scale(1.2);
    width: 20px;
    margin: 10px 0;
}

label {
    margin:0 5px;
}

button:disabled {
    background-color: #a1a0c1;
    cursor: not-allowed;
}